<%= form_with model: article do |form| %>
<div>
    <%= form.label :title %><br>
    <%= form.text_field :title%>
    <% article.errors.full_messages_for(:title).each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>

<div>
    <%= form.label :body %><br>
    <%= form.text_area :body, cols: 70, rows: 15 %><br>
    <% article.errors.full_messages_for(:body).each do |message| %>
    <div><%= message %></div>
    <% end %>
</div>

<div>
  <%= form.label :image %><br>
  <%= image_tag form.object.image_url if form.object.cached_image_data %>
  <%= form.hidden_field :image, value: form.object.cached_image_data %>
  <%= form.file_field :image %><br>
  <% article.errors.full_messages_for(:body).each do |message| %>
    <div><%= message %></div>
  <% end %>
</div>
<br>
<div>
  <%= form.label :category, style: "display: block" %>
  <%= form.select :category_id, options_for_select(@categories.collect { |cat| [cat.name, cat.id]})%>
</div>
<br>
<div>
  <p><%= form.submit "Create article", class: "btn btn-dark"%></p>
</div>
<% end %>