<% provide :page_title, "Статья о #{@article.title}" %>

<h1><%= @article.title %></h1>

<p><%= sanitize @article.body %></p>

<%= link_to "Вернуться ко всем статьям",  articles_path, class: "btn btn-dark" %>
<%= link_to "Редактировать статью", edit_article_path, class: "btn btn-dark" %>
<%= link_to "Удалить", article_path, class: "btn btn-dark", data: {
    turbo_method: :delete,
    turbo_confirm: "Вы уверены?"
} %>

<h2>Комментарии</h2>
<%= render @article.comments %>

<h2>Добавить комментарий:</h2>
<%= render 'comments/form' %>