<% provide :page_title, "Статья о #{@article.title}" %>

<div class="container">
  <h1><%= @article.title %></h1>

  <p><%= sanitize @article.body %></p>

  <p>Опубликовано: <%= @article.formatted_created_at %></p>

  <p>
    <strong>Image data:</strong>
    <%= image_tag @article.image_url if @article.image %>
  </p>

  <p>Просмотров: <%= @article.views %></p>

  <p>Категория: <%= @article.category.name %></p>

  <p>Автор: <%= link_to @article.user.name, user_path(@article.user) %></p>

  <%= link_to "Вернуться ко всем статьям",  articles_path, class: "btn btn-dark" %>
  <%= link_to "Редактировать статью", edit_article_path, class: "btn btn-dark" %>
  <%= link_to "Удалить", article_path, class: "btn btn-dark", data: {
      turbo_method: :delete,
      turbo_confirm: "Вы уверены?"
  } %>

  <p><h2>Комментарии</h2></p>
  <%= render @article.comments %>

  <h2>Добавить комментарий:</h2>
  <%= render 'comments/form' %>
</div>