<% provide :page_title, "Статья о #{@article.title}" %>

<h1><%= @article.title %></h1>

<p><%= sanitize @article.body %></p>

<ul>
  <li><%= link_to "Вернуться ко всем статьям", articles_path %></li>
  <li><%= link_to "Редактировать статью", edit_article_path %></li>
  <li><%= link_to "Удалить", article_path, data: {
    turbo_method: :delete,
    turbo_confirm: "Вы уверены?"
  } %></li>
</ul>

<h2>Комментарии</h2>
<%= render @article.comments %>

<h2>Добавить комментарий:</h2>
<%= render 'comments/form' %>