<div class="container">
  <h1>My Personal Home Page</h1>
  <hr>
  <h1><%= @user.name %></h1>
  <p><%= image_tag(@user.avatar, style:"width:200px; height:200px, border-radius:100%") if @user.avatar.attached? %></p>
  <div class="col-10">
    <% @articles.each do |a| %>
      <p><%= link_to a.title, article_path(@user) %></p>
      <p><%= a.body %></p>
      <p>Category: <%= a.category.name %></p>
      <hr>
    <% end %>
  </div>
</div>
